*.o
*.so
*~
TkSessionManager
/man
/html
/latex
/build
Makefile.in
autom4te.cache
aclocal.m4
compile
configure
depcomp
ltmain.sh

.deps/
.libs/
Makefile.in
Makefile
Version.tcl
pkgIndex.tcl
*.la
*.lo
*.log
UserManual_Version.h
latex/
UserManual/
libtool
glib_tcl.c
sigtrap.c
*.tar.bz2
tclkit
Doxyfile
UserManual.pdf
config.status
temp
org.tk.sessionmanager.gschema.valid
org.tk.sessionmanager.gschema.xml
man1/

